@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
* { 
  margin: 0; 
  padding: 0;
}
.block{
  color: white;
  position: absolute;
  margin: 10px;
  padding: 10px;
  /* width: 100%;
  height: 100vh;
  margin: 10px; */
}
h1, h2, h3, p, span {
  font-family: 'Poppins';
}
h1 {
  font-size: 60px;
}
a {
  color: rgb(90, 255, 255);
}
.stars{
  direction: rtl;
  text-align: left;
}
.star{
  font-size: 20px;
}
.star:hover,
.star:hover ~ label{
  color: yellow;
}
button {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-radius: 12px;
  background-color: #6969dd;
  border-color: transparent;
  color: white;
  font-weight: bold;
}
button:hover {
  background-color: #5454c2;
  cursor: pointer;
}
input {
  font-family: 'Poppins';
  width: 100%;
  background-color:  rgba(255, 255, 255, 0.3);
  border-color: transparent;
  height: 40px;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  padding-left: 5px;
}
.block-borded {
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 10px;
  /* width: 100%;
  height: 100vh;
  margin: 10px; */
}
body{
  overflow: hidden;
}
.message{
  border-radius: 12px;
  margin: 22px 10px;
  padding: 20px;
}
.bg-primary {
  background-color: rgb(75, 74, 74);
}
.bg-secondary {
  background-color: #6969dd;
}
.chat-content{
  margin: 20px;
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: thin; 
  scrollbar-color: #6969dd #c2c2c2;
}
.avatar {
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}
.avatar > img {
  width: 40px;
}

.pet {
  filter: opacity(0.95);
}

.information > .flag{
  width: 150px;
  margin: 0 auto;
  padding: 10px;
}

.information > .description{
  margin: 0 auto;
}